---
import { Image } from "astro:assets";
import skills from "~/data/skills.json"
import SkillItem from "@components/SkillItem.astro";
import heroImg from "@images/header-hero.svg";
import ExternalLink from "./utils/ExternalLink.astro";
---
<div class="wrapper">
    <nav>
        <a href="#whatido">What I do</a>
        <a href="#contact">Contact</a>
        <a href="#about">About me</a>
    </nav>
    <header>
        <Image 
            src={heroImg} 
            alt="Purple illustration of woman holding various digital devices"
            class:list={"header-image"}
            style="width:100%;height:auto;"
            width={heroImg.width}    
        />
        <hgroup>
            <h1>Hi! <span>I'm Vibeke.</span></h1>
            <h2>I do full-stack experience design</h2>
        </hgroup>
    </header>
    <section>
        <h2 id="whatido">What I do</h2>
        {
            skills.map(({ title, listItems }) => (
                <SkillItem 
                    title={title}
                    listItems={listItems}
                />
            ))
        }
        <h2 id="contact">Contact me</h2>
        <p>Connect with me on <ExternalLink name="LinkedIn" href="https://www.linkedin.com/in/vibekesl/" /> or <ExternalLink name="Behance" href="https://www.behance.net/vibekestolan" /></p>
        <p>You can also send an email to <a href="mailto:hello@vibekestolan.com">hello@vibekestolan.com</a></p>
        <h2 id="about">About me</h2>
        <p>When I'm not working, you can find me in the garden or the craft room, or hanging out with my family (husband, two dogs, and two bearded dragons).</p>
        <p>Despite being borned and raised in Norway, I'm a terrible skier, and have never tried lutefisk.</p>
    </section>
</div>
<style>
    .wrapper {
      margin: 0 auto var(--space-m) auto;
      max-width: 960px;
      padding: 0 var(--space-s);
      container-name: wrapper;
      container-type: inline-size;
      display: grid;
    }
    nav {
        position: fixed;
        padding: var(--space-s) var(--space-l) var(--space-s) var(--space-s);
        justify-self: right;
        z-index: 1;
        background: rgba(0,0,0,.5);
    }
    nav a {
        margin: 0 var(--space-2xs);
    }
    header {
        position: relative;
    }
    hgroup h2 {
        margin-bottom: var(--space-m);
    }
    @container wrapper (min-width: 768px) {
        .wrapper hgroup {
            position: absolute;
            top: 6%;
            left: 38%;
            right: 20%;
        }
    }
    .header-image {
        width: 100%;
        margin-bottom: -16.5%;
    }
    h1 {
    }
    h1 span {
        font-size: var(--step-1);
    }
    h2 {
        font-size: var(--step-2);
        margin-top: var(--space-m);
    }
    section {
        background-color: var(--color-grey-dark);
        padding: var(--space-s)
    }
    @media (prefers-color-scheme: light) {
        nav {
            background: rgba(255,255,255,.5);
        }
        section {
            background-color: var(--color-grey-light);
        }
    }
</style>