---
import Layout from "@layouts/Layout.astro";
import SkipLink from "@utils/SkipLink.astro";
import Welcome from "@components/Welcome.astro";
import BackToTop from "@utils/BackToTop.astro";
---

<Layout title="Vibeke LeCocq | Design Technologist">
  <SkipLink />
  <div class="sr-only" id="start"></div>
  <Welcome />
  <section aria-label="Utilities">
    <!-- You could also add a theme switch here or anything considered a utility -->
    <BackToTop />
  </section>
</Layout>
